:root {
  --border-width: 7px;
}

* {
  margin: 0;
  padding: 0;
}

.body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #F0BD0D;
  font-size: 64px;
  font-weight: 600;
}

.h1 {
  color: white;
}

.typewrite {
  position: relative;
}

.typewrite::after {
  content: '|';
  position: absolute;
  right: 0;
  color: white;
  background-color: #F0BD0D;
  width: 100%;
  animation: typing 3s steps(30) alternate infinite, line 1s infinite;
}

@keyframes typing {
  to {
    width: 0%;
  }
}

@keyframes line {
  50% {
    color: transparent;
  }
}

/* Modificación para dispositivos móviles */
@media (max-width: 768px) {
  .body {
    font-size: 30px; /* Ajusta el tamaño de fuente para dispositivos móviles */
  }

  .h1 {
    font-size: 46px; /* Ajusta el tamaño de fuente para dispositivos móviles */
  }
}



.sec-loading {
  
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}

.sec-loading .one {
  height: 80px;
  width: 80px;
  border: var(--border-width) solid white;
  transform: rotate(45deg);
  border-radius: 0 50% 50% 50%;
  position: relative;
  animation: move 0.5s linear infinite alternate-reverse;
}
.sec-loading .one::before {
  content: "";
  position: absolute;
  height: 55%;
  width: 55%;
  border-radius: 50%;
  border: var(--border-width) solid transparent;
  border-top-color: white;
  border-bottom-color: white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  animation: rotate 1s linear infinite;
}

@keyframes rotate {
  to {
    transform: translate(-50%, -50%) rotate(360deg);
  }
}
@keyframes move {
  to {
    transform: translateY(15px) rotate(45deg);
  }
}